<ion-menu contentId="main-content" side="start" menuId="mainMenu">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>SmartMenu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="sidebar-content">
    <ion-list lines="none">

      <ion-item routerLink="/dashboard" routerLinkActive="active-link" detail="false">
        <ion-icon name="speedometer-outline" slot="start"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-item>

      <ion-item routerLink="/platillos" routerLinkActive="active-link" detail="false">
        <ion-icon name="restaurant-outline" slot="start"></ion-icon>
        <ion-label>Menú</ion-label>
      </ion-item>

      <ion-item routerLink="/clientes/lista" routerLinkActive="active-link" detail="false">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-label>Clientes</ion-label>
      </ion-item>

      <ion-item routerLink="/inventario" routerLinkActive="active-link" detail="false">
        <ion-icon name="layers-outline" slot="start"></ion-icon>
        <ion-label>Inventario</ion-label>
      </ion-item>

      <ion-item routerLink="/proveedores/lista" routerLinkActive="active-link" detail="false">
        <ion-icon name="truck-outline" slot="start"></ion-icon>
        <ion-label>Proveedores</ion-label>
      </ion-item>

      <ion-item routerLink="/admin/usuarios" routerLinkActive="active-link" detail="false">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-label>Usuarios</ion-label>
      </ion-item>

      <ion-item color="danger" button detail="false" (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>

<!-- Contenido principal -->
<div id="main-content">
  <ion-router-outlet></ion-router-outlet>
</div>
