ion-badge[color="success"] {
  background-color: #4caf50;
  color: #fff;
}

ion-badge[color="warning"] {
  background-color: #ffc107;
  color: #333;
}

ion-badge[color="medium"] {
  background-color: #9e9e9e;
  color: #fff;
}
