<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inventario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openAddInsumo()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let item of inventario">
      <ion-label>
        <h2>{{item.nombre_insumo}}</h2>
        <p>{{item.cantidad}} {{item.unidad}}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="editInsumo(item)">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="deleteInsumo(item.id)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
